.main-button {
    color: $white-color;
    font-family: "Montserrat";
    font-weight: 700;
    background: $main-color;
    cursor: pointer;
     
    &:hover {
        background: darken($main-color, 10%);
       }
}