
.header-cap {
  @include flex-between;

  padding: 50px 0;
  border-bottom: 1px solid $border-color;
}

.header-social {
  @include flex-center;

  gap: 20px;
}

.header-logo {
  @include flex-center;

  gap: 13px;
  text-decoration: none;
}

.header-logo-item {
  background: $main-color;
  border-radius: 8px;
  width: 32px;
  height: 32px;
}


.header-title {
  @include mont-bold($main-color, 30px);
}

.main-nav {
  padding-top: 30px;
  padding-bottom: 25px;
}

.user-nav-icons {
  @include flex-center;

  gap: 15px;
}

 
@include vieport-md {
  .user-nav-item {
    height: 25px; 
  }
}
 

.header-cart-link {
  position: relative;

  .header-cart-counter {
    position: absolute;
    top: -29px;
    right: -10px;
    border: 2px solid $main-color;
    color: $main-color;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-nav-list {
  @include flex-center;

  gap: 30px;
}

.main-nav-item {
  text-decoration: none;
  
  @include mont-bold;
}

.main-nav-item:hover {
  color: $main-color;
}

.main-nav-catalog-item {
  position: relative;
  padding-right: 11px;
}

.main-nav-catalog-item::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(50deg);
}

.popup {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white-color;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  border-radius: 10px;
  width: 100%;
  max-width: 480px;
  padding: 70px;
  z-index: 1000;
  display:none;

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .login-form-field {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .login-form-label {
        @include info($black, 14px);
      }

      .login-form-required {
        color: $main-color;
      }

      .login-form-input {
        width: 100%;
        height: 40px;
        border: 2px solid rgba($main-color, 0.5);

        &:focus {
          border-color: $main-color;
          outline: none;
        }
      }
    }

    .login-password-field {
      position: relative;

      .toggle-button {
        position: absolute;
        right: 10px;
        top: 70%;

        @include flex-center;

        transform: translateY(-50%);
        cursor: pointer;
        flex-shrink: 0;
      }
    }

    .login-form-remember {
      @include flex-between;

      .remember-checkbox {
        @include flex-center;

        gap: 6px;

        .login-form-remember-label {
          @include info($size: 9px);

          cursor: pointer;
        }
      }


      .forgot-password-link {
        @include mont-bold($main-color, 9px);

        text-decoration: none;
      }
    }

    .login-form-button {
      @include button-padding(13px, 20px);
    }
  }
}

.burger {
  display: none;
  background: none;
  border: none;
  flex-direction: column;
  gap: 4px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  span {
    display: block;
    height: 4px;
    width: 100%;
    background: $main-color;
    border-radius: 2px;
    transition: 0.3s;
  }
}

.close-menu {
  display: none;
  background: none;
  border: none;
  font-size: 32px;
  color: $main-color;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@include vieport-md {
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    max-width: 320px;
    height: 100vh;
    background: $white-color;
    box-shadow: 0 0 40px 10px rgb(0 0 0 / 10%);
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 2000;
    padding: 60px 30px 30px;
    display: block;
  }

  .main-nav.open {
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .close-menu {
    display: block;
  }

  .burger {
    display: flex;
  }
}