.cart-title-container {
  background: linear-gradient(rgb( 0 0 0 / 50%)), url("../assets/images/cart-picture.png");
  padding: 85px 0;
  background-size: cover;
  margin-bottom: 70px;

  .cart-title {
    @include mont-bold($white-color, 50px);

    text-align: center;
  }
}

.cart-content {
  display: flex;
  flex-direction: column;

  .cart-table {
    flex: 1;

    .cart-header {
      display: grid;
      grid-template-columns: 120px 2fr 1fr 1fr 1fr 1fr;
      align-items: center;
      text-align: center;   
      background: $grey-color;
      padding: 20px 0;

      .cart-header-item {
        @include mont-bold($color: $white-color)
    }
    
    }

    .cart-items {
      margin-bottom: 70px;

      .cart-item {
        display: grid;
        grid-template-columns: 120px 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        padding: 10px 0;
        border-bottom: 2px solid $main-color;
                
        .cart-cell {
          flex: 1;
          text-align: center;
    
          &.product-info {
            width: 120px;
            height: 120px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .product-name {
            @include mont-bold;
          }
        }

        .product-price, .product-total {
          @include mont-bold($size: 17px);
        }

        .quantity-controls {
          @include flex-center;
                    

          .qty-btn {
            border: none;
            padding: 5px 10px;
            cursor: pointer;

            @include mont-bold($size: 25px);
                        
                        

            &:hover {
              background-color: darken($light-grey, 10%);
            }
          }

          input[type="number"]  {
            width: 30px;
            text-align: center;

            @include mont-bold($size: 25px);

            border: none;
                       

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              appearance: none;
              margin: 0;
            }  
          }
        }

        .delete-btn {
          cursor:pointer;

          svg {
            width: 20px;
            height: 22px;
          }
        }
      }
    }
    
    .cart-actions {
      display: flex;
      gap: 20px;

      .continue-shopping-btn, .clear-shopping-btn {
        @include button-padding(20px, 25px);

        font-size: 15px;
               

        &:hover {
          background-color: darken($main-color, 10%);
        }
      }
    }
  }

  .empty-cart-message {
    display: none;

    @include info;

    margin-bottom: 50px;
  }
        

  .cart-summary {
    background: $grey-color;
    padding: 30px;
    width: 570px;
    align-self: flex-end;
    margin-top: -50px;
    margin-bottom: 100px;

    .cart-summary-row {
      @include flex-between;

      padding: 15px 0 20px;

      .cart-summary-text {
        @include mont-bold($white-color, 17px);
      }

      .cart-summary-amount {
        @include mont-bold($white-color, 17px);
      }

      .cart-total-text {
        @include mont-bold($white-color, 20px);
      }          

      .cart-total-amount {
        @include mont-bold($white-color, 20px);
      }
    }

    .cart-summary-row + .cart-summary-row {
      border-top: 2px solid $main-color;
            
    }

    .checkout-btn {
      @include button-padding(10px, 60px);

      font-size: 18px;
      margin-top: 20px;

      &:hover {
        background-color: darken($main-color, 10%);
      }
    }
  }
}