.filter-bar {
    @include flex-between;
    margin-top: 60px;
    margin-bottom: 60px;
}

.user-panel{
    display: flex;
    gap: 50px;
}

.results-count {
    @include info($size: 16px);
}

.sorting-field {
    padding: 10px 65px 10px 15px;
    @include info($size: 16px);
    border: 2px solid $light-grey;
    cursor: pointer;
    appearance: none;

    &:focus {
        outline: none;
        border-color: $main-color;
      }
}

.sorting-field option:checked {
  background: lighten($main-color, 40%);
  color: $main-color;
}

.sorting-container {
    position: relative;
}

.sorting-container::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    width: 7px;
    height: 7px;
    border-bottom: 1.5px solid $grey-color;
    border-right: 1.5px solid $grey-color;
    transform: rotate(50deg);
}

.search-form {
    position: relative;
    display: flex;
    width: 100%;

    

    input {
        width: 100%;
        border: 2px solid $light-grey;
        padding: 10px 210px 10px 15px;

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::placeholder {
            @include info($size: 16px);
        }

        &:focus {
            outline: none;
            border-color: $main-color;
          }
    }
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    @include flex-center;
    transform: translateY(-50%);
    cursor: pointer;
    flex-shrink: 0;
}

.search-icon {
    width: 17px;
    height: 17px;
}

// .filter-group-list {
//     border-top: 2px solid $main-color;
//     border-bottom: 2px solid $main-color;
//     display: flex;
//     gap: 25px;
//     padding: 20px 10px 35px 10px;
// }

// .filter-group {
//     display: flex;
//     flex-direction: column;

//     label {
//         @include mont-bold($grey-color, 17px);
//     }

//     select {
//         padding: 10px 65px 10px 15px;
//         @include info($size: 16px);
//         border: 2px solid $light-grey;
//         cursor: pointer;
//         appearance: none;
//     }
// }
// .filters {

//     form {
  
//       .row {
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         gap: 25px;
//         margin-bottom: 16px;
//         border-top: 2px solid $main-color;
//         border-bottom: 2px solid $main-color;
//         padding: 20px 10px 35px 10px;
//         margin-bottom: 60px;
  
//         @media (max-width: 1024px) {
//           grid-template-columns: repeat(2, 1fr);
//         }
//         @media (max-width: 640px) {
//           grid-template-columns: 1fr;
//         }
  
//         .filter-group {
//           display: flex;
//           flex-direction: column;
//           gap: 8px;
  
//           label {
//             @include mont-bold($grey-color, 17px);
//           }
  
//           select {
//             @include info($size: 16px);
//             border: 2px solid $light-grey;
//             padding: 10px 15px;
  
//             &:focus {
//               outline: none;
//               border-color: $main-color;
//             }
//           } 
//           .sales-filter {
//             width: 22px;
//             height: 22px;
//             border-radius: 50%;
//             background: black;
//             appearance: none;
//             cursor:pointer;
//             border: 5px solid #D9D9D9;

//             &:checked {
//                 background-color: $main-color;
//             }
//           }
//           }
//         }
//       }
//     }

// .btn-clear {
//     margin-right: 20px;
// }
  
//   .btn-clear, .btn-hide {
//        @include button-padding(20px, 50px)
//     }
  
.filters {
  form {
    .row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
      border-top: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      padding: 20px 10px 35px 10px;
      margin-bottom: 60px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 640px) {
        grid-template-columns: 1fr;
      }

      .filter-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          @include mont-bold($grey-color, 17px);
        }

        .custom-select {
          position: relative;
          border: 2px solid $light-grey;
          cursor: pointer;

          &:hover {
            border-color: $main-color;
          }

          .select-display {
            @include info($size: 16px);
            padding: 10px 15px;
            position: relative;
          }

          &::after {
            content: "";
            position: absolute;
            top: 18px;
            right: 15px;
            width: 7px;
            height: 7px;
            border-bottom: 1.5px solid $grey-color;
            border-right: 1.5px solid $grey-color;
            transform: rotate(50deg);
          }

          .select-options {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border: 2px solid $light-grey;
            border-radius: 8px;
            background: $white-color;
            list-style: none;
            margin: 0;
            padding: 0;
            z-index: 10;

            li {
              padding: 10px 15px;
              @include info($size: 16px);
              cursor: pointer;

              &:hover {
                background: lighten($main-color, 40%);
                color: $main-color;
              }
            }
          }

          &:hover .select-options {
            display: block;
          }
        }

        // чекбокс Sales
        .sales-filter {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: black;
          appearance: none;
          cursor: pointer;
          border: 5px solid #D9D9D9;

          &:checked {
            background-color: $main-color;
          }
        }
      }
    }
  }
}

.btn-clear {
  margin-right: 20px;
}

.btn-clear,
.btn-hide,
.btn-show {
  @include button-padding(20px, 50px);
}
  
  .catalog-layout {
    display: flex;
    gap: 50px;
  }

  .products {
    flex: 1;
    margin-bottom: 120px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 11px;
    align-items: stretch;
    margin-bottom: 60px;
  }

  .sidebar {
    flex: 0 0 339px;
    max-width: 339px;
  }


.top-set-title {
  @include mont-bold($size: 17px);
  margin-bottom: 23px;
}

.top-set-card {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.top-set-image {
  height: 87px;
  width: 87px;
  overflow: hidden;

  .top-set-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
  .top-set-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
  }

  .top-set-desc {
    @include info(black, 15px)
  }

  .top-set-rating {
    display:flex;
    align-items: center;
    gap: 6px;

    .star-icon {
      fill: #F5B423;
      width: 12px;
      height: 12px;
    }

    .star-empty {
      fill: $light-grey;
    }
  }

  .star-empty {
    fill: $light-grey;
    width: 12px;
      height: 12px;
  }

  .top-set-price {
    @include info(black, 15px)
  }

.pagination {
    display: flex;
    align-items: center;
    position: relative; 
    margin-top: 20px; 
    

    .btn-prev {
        position: absolute;
        left: 0; 
    }

    .btn-next {
        position: absolute;
        right: 0; 
    }

    .page-buttons {
        display: flex;
        gap: 5px;
        justify-content: center; 
        flex: 1; 
    }
}

.page-button {
    @include button-padding(10px, 17px);
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    background: $white-color;

    &.active {
        background: $main-color;
        color: $white-color;
    }

    &:hover {
        background: lighten($main-color, 20%);
        color: $white-color;
    }
}

.btn-prev,
.btn-next {
    @include button-padding(13px, 20px);
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid $main-color;
    background: $white-color;
    @include mont-bold($size: 11px);

    &:hover {
        background: lighten($main-color, 20%);
        color: $white-color;
    }
}

.btn-next::after {
    content: ">";
    margin-left: 6px;
}

.btn-prev::before {
    content: "<";
    margin-right: 6px;
}

.notification-modal {
    position: fixed;
    top: 10px;
    left: 50%; 
    transform: translate(-50%, 0);
    background-color: $main-color;
    color: $white-color;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;

    .notification-message {
        flex: 1;
        @include mont-bold($white-color, 18px);
    }

    .notification-close {
        background: none;
        border: none;
        color: $white-color;
        font-size: 18px;
        cursor: pointer;
    }
}
