.contact-header {
  background: linear-gradient(rgb( 0 0 0 / 40%)), url("../assets/images/contact-banner.png");
  padding: 85px 0;
  background-size: cover;
  margin-bottom: 130px;
  height: 550px;

  @include flex-center;

  text-align: center;

  @include vieport-lg {
    height: 400px;
    padding: 60px 20px;
  }
  
  @include vieport-md {
    height: 300px;
    padding: 40px 10px;
    margin-bottom: 60px;
  }
    
  .contact-title {
    @include mont-bold($white-color, 50px);

    margin-bottom: 20px;

    @include vieport-md {
      font-size: 35px;
    }
  }

  .contact-subtitle {
    @include info($color: $white-color);
  }
}



.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 130px;

  @include vieport-lg {
    flex-wrap: wrap;
    gap: 30px;
  }

  .contact-info-card {
    @include flex-center;

    flex-direction: column;
    gap: 20px;
    text-align: center;

    @include vieport-lg {
      flex: 1 1 45%;
    }
    
    .contact-info-bg {
      width: 62px;
      height: 62px;
      background: $main-color;
         
      @include flex-center;

      .contact-info-icon {
        fill: $white-color;
      }
    }

    .contact-info-title {
      @include mont-bold($size: 20px);
    }

    .contact-info-details {
      @include info($color: black);
    }
  }
}

.contact-form {
  @include grid-cols(2, 40px);

  margin-bottom: 120px;

  @include vieport-lg {
    @include grid-cols(1, 30px);

    margin-bottom: 60px;
  }

  .contact-form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 20px 80px 0 rgb(193 199 212 / 30%);

    @include vieport-lg {
      display: none;
    }
  }

  .contact-form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include vieport-lg {
      padding: 0 20px;
    }

    .contact-form-title {
      @include mont-bold($size: 25px);

      margin-bottom: 35px;
    }

    .contact-form-subtitle {
      @include info($color: $black);

      margin-bottom: 70px;

      @include vieport-md {
        margin-bottom: 40px;
      }
    }

    .contact-form-form {
      @include flex-col;
      
      .contact-form-field {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .contact-form-label {
          @include mont-bold;

          .contact-form-required {
            color: $main-color;
          }
        }

        .contact-form-input {
          height: 40px;
          margin-bottom: 30px;
        }

        .contact-form-textarea {
          height: 115px;
          margin-bottom: 20px;
        }

        .contact-form-input, .contact-form-textarea {
          padding: 0 15px;
          width: 100%;
          border: 2px solid rgba($main-color, 0.5);

          &:focus {
            border-color: $main-color;
            outline: none;
          }
        }
      }

      .contact-form-actions {
        display: flex;
        align-items: center;
        gap: 20px;

        .contact-form-submit {
          @include button-padding(13px, 30px);
          @include mont-bold($white-color, 12px);

          align-self: flex-start;
        }

        .contact-us-message {
          color: rgba($main-color, 0.9);
          font-size: 16px;
          margin-left: 10px;
          transition: opacity 0.9s;
        }
      }
    }
  }
}
  


