.contact-header {
    background: linear-gradient(rgba( 0, 0, 0, 0.4)), url(../assets/images/contact-banner.png);
    padding: 85px 0;
    background-size: cover;
    margin-bottom: 130px;
    padding: 210px 0;
    
    .contact-title {
        @include mont-bold($white-color, 50px);
        text-align: center;
        margin-bottom: 20px;
    }
    .contact-subtitle {
        @include info($color: $white-color);
        text-align: center;
    }
}



.contact-info {
  @include flex-between;
    margin-bottom: 130px;
  

  .contact-info-card {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
    .contact-info-bg {
         width: 62px;
         height: 62px;
         background: $main-color;
         
         @include flex-center;

         .contact-info-icon {
            fill: $white-color;
         }
    }
    .contact-info-title {
        @include mont-bold($size: 20px);
    }
    .contact-info-details {
        @include info($color: black);
   }
 }
}