.promo {
  background: #e7e8e9;
  padding: 120px 0;

  @include vieport-md {
    padding: 60px 0;
  }
}

.promo-container {
  @include flex-between;

  @include vieport-lg {
    @include flex-col;
  }
}

.promo-image {
  height: 625px;
  width: auto;
  object-fit: cover;

  @include vieport-lg {
    height: 400px;
  }

  @include vieport-md {
    height: 300px;
    width: auto;
    object-fit: cover;
  }
}

.promo-title {
  @include title($size: 50px);

  margin-bottom: 30px;

  @include vieport-md {
    font-size: 30px;
  }
}

.promo-desc {
  @include info;

  margin-bottom: 30px;
}

.promo-button {
  display: inline-block;
  font-size: 18px;

  @include button-padding;

  text-decoration: none;

}

.discount-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -120px;
  box-shadow: 0 0 40px 10px rgb( 0 0 0 / 20%);
  margin-bottom: 120px;
  width: 100%;

  @include vieport-md {
    grid-template-columns: 1fr;
    margin-top: -60px;
    margin-bottom: 60px;
  }

}

.persona {
  padding: 70px;
  background: $white-color;

  @include vieport-md {
    padding: 40px;
  }
}

.employee {
  @include flex-center;

  justify-content: start;
  gap: 22px;
  margin-bottom: 30px;
}

.employee-photo {
  width: 85px;
  height: 100%;
}

.employee-name {
  @include mont-bold($size: 20px);

  margin-bottom: 7px;
}

.employee-position {
  @include info;
}

.persona-title {
  @include title;

  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 30px;

  @include vieport-md {
    font-size: 30px;
  }
}

.persona-title + .persona-info {
  margin-bottom: 30px;
}

.persona-info {
  @include info;
}

.discount {
  background: linear-gradient( rgb( 0 0 0 / 40%)), url("../assets/images/discount.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;

  @include flex-col(30px);

  justify-content: center;
  align-items: start;

  @include vieport-md {
    padding: 40px;
    text-align: center;
    align-items: center;
  }
}

.discount-caption {
  @include title($white-color);
}

.discount-info {
  @include info($white-color);
}

.discount-button {
  font-size: 18px;

  @include button-padding(20px, 25px);
}

.travel-container {
  position: relative;
  margin-bottom: 120px;
  overflow: hidden;
     
  @include vieport-md {
    margin-bottom: 60px;
  }
}

.travel-title {
  @include title;

  text-align: center;
  margin-bottom: 10px;

  @include vieport-md {
    font-size: 30px;
  }
}

.travel-desc {
  @include info;

  text-align: center;
  margin-bottom: 60px;

  @include vieport-md {
    margin-bottom: 30px;
  }
}

.travel-cards {
  display: flex;
  gap: 39px;
}

.travel-cards div {
  height: 600px;
  min-width: 300px;
  padding: 45px 40px;

  @include flex-col(20px);

  background-size: cover;
  justify-content: end;
  flex: 0 0 23%;
  background-repeat: no-repeat;

  &:hover {
    transform: scale(1.06);
    box-shadow: 0 8px 24px rgb(0 0 0 / 30%);
    transition: all 0.3s ease-in-out;
  }

  @include vieport-lg {
    flex: 0 0 48%;
    background-size: cover;
    background-position: center;      
  }

  @include vieport-md {
    flex: 0 0 100%;
    height: 400px;
  }
}

.travel-card-first {
  background: linear-gradient(rgb( 0 0 0 / 40%)), url("../assets/images/travel_1.png");
}

.travel-card-second {
  background: linear-gradient(rgb( 0 0 0 / 40%)), url("../assets/images/travel_2.png");
}

.travel-card-third {
  background: linear-gradient(rgb( 0 0 0 / 40%)), url("../assets/images/travel_3.png");
}

.travel-card-fourth {
  background: linear-gradient(rgb( 0 0 0 / 40%)), url("../assets/images/travel_4.png");
}

.travel-card-title {
  @include mont-bold($white-color, 19px);
}

.travel-card-desc {
  @include info($white-color, 19px);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0 0;
}

.carousel-prev, .carousel-next {
  cursor: pointer;
  background: $main-color;
  border-radius: 50%;

  @include button-padding(15px, 15px);

  font-size: 24px;
  color: $white-color;
  margin: 12px;

  .carousel-next {
    margin-left: auto;
  }
  
  &:hover {
    background: darken($main-color, 10%);
    box-shadow: 0 0 12px rgba($main-color, 0.8);
  }
}

.selected-products-title, .new-products-title, .customers-title {
  @include title;

  text-align: center;
  margin-bottom: 10px;

  @include vieport-md {
    font-size: 30px;
  }
}

.selected-products-desc, .new-products-desc, .customers-desc {
  @include info;

  text-align: center;
  margin-bottom: 60px;

  @include vieport-md {
    margin-bottom: 30px;
  }
}

.product-list {
  margin-bottom: 120px;

  @include grid-cols(4, 39px);

  align-items: stretch;

  @include vieport-lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vieport-md {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
}


.banner{
  background: linear-gradient(rgb( 0 0 0 / 40%)), url("../assets/images/banner.png") center/cover no-repeat;
  padding: 80px 100px;

  @include flex-center;

  gap: 175px;
  margin-bottom: 120px;

  @include vieport-lg {
    @include flex-col(40px);

    text-align: center;
    padding: 60px 40px;
    gap: 40px;
  }

  @include vieport-md {
    padding: 40px 20px;
    gap: 30px;
    margin-bottom: 60px;
  }
}

.sale-amount {
  @include title($white-color, 223px);

  margin-bottom: 15px;

  @include vieport-lg {
    font-size: 150px;
  }

  @include vieport-md {
    font-size: 100px;
    margin-bottom: 10px;
  }
}

.sale-desc {
  @include info($white-color, 20px);

  text-align: center;
}

.offer-title {
  @include title($white-color);

  margin-bottom: 30px;
}

.offer-desc {
  @include info($white-color);

  margin-bottom: 30px;

  @include vieport-md {
    margin-bottom: 20px;
  }
}

.offer-button {
  @include button-padding(20px, 25px);

  font-size: 18px;
}

.customers-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 120px;

  @include vieport-lg {
    flex-direction: column;
    gap: 40px;
  }

  @include vieport-md {
    gap: 20px;
    margin-bottom: 60px;
  }
}

.customers-card-item {
  @include flex-col(25px);

  justify-content: center;
  align-items: center;
  padding: 45px 40px;
  box-shadow: 0 0 40px 10px rgb( 0 0 0 / 20%);

  @include vieport-md {
    padding: 30px 20px;
    gap: 15px;
  }
}

.customers-card-desc {
  @include info(black);

  text-align: center;
}

.customers-info {
  @include mont-bold($main-color, 17px);
}