.product-details-card {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;

    .product-gallery {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .product-details-image {
            width: 100%;
            object-fit: contain;
        }

        .product-thumbnails {
            @include flex-center;
            gap: 15px;

            .thumb {
                 object-fit: cover;
            }
        } 
    }
}

.product-details-info {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .product-details-title {
        @include mont-bold($size: 30px);
        margin-bottom: 16px;
    }

    .card-details-rating {
        margin-bottom: 15px;
    }

    .clients-review-counter {
        @include info($size: 13px);
    }

    .product-details-price {
        @include mont-bold($size: 20px);
        margin-bottom: 40px;
    }

    .product-details-desc {
        @include info;
    }

    .product-details-desc + .product-details-desc {
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .filter-group {
                  display: flex;
                  flex-direction: column;
                  gap: 13px;
                  margin-bottom: 30px;
          
                  label {
                    @include mont-bold($grey-color, 17px);
                  }
          
                  select {
                    @include info($size: 16px);
                    border: 2px solid $light-grey;
                    padding: 10px 15px;
          
                    &:focus {
                      outline: none;
                      border-color: $main-color;
                    }
                  } 
                 }
    .product-details-quantity {
        display: flex;
        gap: 13px;
        margin-top: 50px;
        margin-bottom: 60px;
    

        .quantity-controls {
            display: flex;
            align-items: center;
            border: 2px solid $main-color;
            
            .qty-btn {
                @include mont-bold($grey-color, 25px);
                border: none;
                padding: 12px 20px;
                cursor: pointer;

                &:hover {
                    background-color: darken($light-grey, 10%);
                }
            }

            input[type="number"] {
                width: 50px;
                text-align: center;
                border: none;
                @include mont-bold($grey-color, 25px);

            

               &::-webkit-outer-spin-button,
               &::-webkit-inner-spin-button {
               -webkit-appearance: none;
                margin: 0;
               }
            }
        }

        .add-to-cart {
            flex: 1; 
        }
    }
    .payment-options {
        display: flex;
        align-items: center;
        gap: 20px;

        .payment-info {
            @include mont-bold($grey-color, 23px);
            
        }
    }
}

.product-tabs {
    margin-bottom: 100px;
    .tab-list {
        @include flex-center;
        gap: 120px;
        margin-bottom: 30px;

        .tab {
            @include mont-bold($size: 17px);
            cursor: pointer;

            &.active {
                border-bottom: 2px solid $main-color;
            }
        }
    }

    .tab-content {
        .tab-panel {
            display:none;

            .tab-text {
                @include info;

                & + .tab-text {
                    margin-top: 30px;
                }
            }

            &.active {
                display: block;
            }
        }
    }


.may-like-products {
    margin-bottom: 100px;
    .may-like-title {
        @include mont-bold($size: 30px);
        border-bottom: 2px solid $main-color;
        margin-bottom: 60px;
    }
}
}

.may-like-products {
    margin-bottom: 100px;
    text-align: center;
    .may-like-title {
        @include mont-bold($size: 30px);
        display: inline-block;
        border-bottom: 2px solid $main-color;
        margin-bottom: 60px;
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}


  
  .reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 145px;
  }

  .review-product-info {
    @include mont-bold($size: 18px);
    margin-bottom: 90px;
  }
  
  .review {
    display: flex;
    gap: 25px;
    
  
    .review-header {
      @include flex-between;
      
      margin-bottom: 29px;

      .review-author-info {
        @include flex-center;
        gap: 18px;

        .review-author {
          @include mont-bold($grey-color, 17px);
        }
    
        time {
          @include info($size: 13px);
        }
      }
  
      .review-stars {
        display: flex;
        gap: 4px;
  
        svg {
          width: 16px;
          height: 15px;
        }
      }
    }
  
    .review-text {
      @include info($color: black);
    }
  }
  
  .review-form {
    display: flex;
    flex-direction: column;
    
    .form-title {
      @include mont-bold($size: 18px);
      margin-bottom: 20px;
    }

    .form-note {
      @include info(black, 13px);
      margin-bottom: 30px;

      span {
        color: $main-color;
      }
    }

    .rating-group {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 30px;

      .rate-product {
        @include mont-bold($size: 13px);
      } 
    }
    
    .star-rating {
      display: flex;
        gap: 5px;
  
        svg {
          width: 16px;
          height: 15px;
        }
    }

    .review-textarea, .review-name, .review-email {
      width: 100%;
      font-size: 16px;
      resize: vertical;
      border: 2px solid rgba($main-color, 0.5);

       &::placeholder {
        @include info($size: 13px);
       }
      &:focus {
        outline: none;
        border: 2px solid $main-color;
      }
    }

    .review-textarea {
      padding: 15px;
      min-height: 170px;
      margin-bottom: 25px;
    }

    .user-info {
      @include flex-between;
      gap: 20px;
      margin-bottom: 35px;

      .review-name, .review-email {
        padding: 10px 15px;
      }
    }
  
    .remember-me {
      @include info($size: 13px);
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 30px;
    }
  
    .btn-submit {
      @include button-padding(12px, 22px);
      @include mont-bold($white-color, 12px);
      align-self: flex-start;
      
      &:hover {
        background-color: darken($main-color, 10%);
      }
    }
  
    .form-message {
      font-size: 14px;
      font-weight: bold;
      color: green;
  
      &.error {
        color: red;
      }
    }
  }
