$main-color: #b92770;
$white-color: #fff;
$grey-color: #504e4a;
$border-color:rgb(114 113 116 / 20%);
$light-grey: #e9e9ed;
$black: #000;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

