$main-color: #B92770;
$white-color: #FFFFFF;
$grey-color: #504E4A;
$border-color:rgba(114, 113, 116, 0.2);
$light-grey: #E9E9ED;
$black: #000000;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

