<footer>
    <section class="benefits-section">
        <div class="container">
            <h2 class="benefits-title">Our Benefits</h2>
            <ul class="benefits-list">
                <li class="benefits-item">
                    <svg class="benefits-icon">
                        <use href="#travel"></use>
                    </svg>
                    <p class="benefits-desc">Velit nisl sodales eget donec quis. volutpat orci.</p>
                </li>
                <li class="benefits-item">
                    <svg class="benefits-icon">
                        <use href="#truck"></use>
                    </svg>
                    <p class="benefits-desc">Dolor eu varius. Morbi fermentum velit nisl.</p>
                </li>
                <li class="benefits-item">
                    <svg class="benefits-icon">
                        <use href="#facebook"></use>
                    </svg>
                    <p class="benefits-desc">Malesuada fames ac ante ipsum primis in faucibus. </p>
                </li>
                <li class="benefits-item">
                    <svg class="benefits-icon">
                        <use href="#facebook"></use>
                    </svg>
                    <p class="benefits-desc">Nisl sodales eget donec quis. volutpat orci.</p>
                </li>
            </ul>
        </div>
    </section>
    <div class="footer-container container">
        <section class="footer-info">
            <section class="footer-links">
                <div>
                    <h2 class="footer-title">About Us</h2>
                <nav>
                    <ul>
                        <li class="footer-link"><a href="#">Organisation</a></li>
                        <li class="footer-link"><a href="#">Partners</a></li>
                        <li class="footer-link"><a href="#">Clients</a></li>
                    </ul>
                </nav>
                </div>
                <div>
                    <h2 class="footer-title">Interesting Links</h2>
                <nav>
                    <ul>
                        <li class="footer-link"><a href="#">Photo Gallery</a></li>
                        <li class="footer-link"><a href="#">Our Team</a></li>
                        <li class="footer-link"><a href="#">Socials</a></li>
                    </ul>
                </nav>
                </div>
                <div>
                    <h2 class="footer-title">Achievements</h2>
                <nav>
                    <ul>
                        <li class="footer-link"><a href="#">Winning Awards</a></li>
                        <li class="footer-link"><a href="#">Press</a></li>
                        <li class="footer-link"><a href="#">Our Amazing Clients</a></li>
                    </ul>
                </nav>
                </div>
            </section>
            <section class="footer-information">
                <h2 class="footer-title">Shipping Information</h2>
                <p class="footer-desc">Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit amet erat nec nibh rhoncus varius in non lorem. Donec interdum, lectus in convallis pulvinar, enim elit porta sapien, vel finibus erat felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam.</p>
            </section>
        </section>
        <section class="footer-contacts">
            <div class="footer-contacts-info">
                <h2 class="footer-title">Contact Us</h2>
                <p class="footer-desc">Bendum dolor eu varius. Morbi fermentum velitsodales egetonec. volutpat orci. Sed ipsum felis, tristique egestas et, convallis ac velitn consequat nec luctus.</p>
            </div>
            <div class="footer-contacts-lincs">
                    <ul class="footer-contacts-list">
                        <li>
                            <svg class="contacts-icon">
                                <use href="#phone"></use>
                            </svg>
                            <span>Phone:</span>
                            <a href="tel:+632366322">(+63) 236 6322</a>
                        </li>
                        <li>
                            <svg class="contacts-icon">
                                <use href="#contact-email"></use>
                            </svg>
                            <a href="mailto:public@news.com">public@news.com</a>
                        </li>
                        <li>
                            <svg class="contacts-icon">
                                <use href="#clock"></use>
                            </svg>
                            <p>Mon - Fri: 10am - 6pm</p>
                            <p>Mon - Fri: 10am - 6pm</p>
                        </li>
                        <li>
                            <svg class="contacts-icon">
                                <use href="#location"></use>
                            </svg>
                            <p>639 Jade Valley, Washington Dc</p> 
                        </li>
                    </ul>
                </div>
        </section>
    </div>
</footer>