<header>
    <div class="header-container container">
        <div class="header-cap">
            <nav>
                <ul class="header-social">
                    <li>
                        <a href="#">
                            <svg class="header-social-item">
                                <use href="/dist/assets/sprites/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="header-social-twitter">
                                <use href="/dist/assets/sprites/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="header-social-item">
                                <use href="/dist/assets/sprites/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>                    
                </ul>
            </nav>
            <a href="/dist/index.html" class="header-logo">
                <span class="header-logo-item">
                    <svg class="header-icon">
                        <use href="/dist/assets/sprites/sprite.svg#icon"></use>
                    </svg>
                </span>
                <span class="header-title">BEST SHOP</span>
            </a>
            <nav class="user-nav">
                <ul class="user-nav-icons">
                    <li>
                        <a href="#">
                            <svg class="user-nav-item">
                                <use href="/dist/assets/sprites/sprite.svg#user"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/dist/pages/cart.html">
                            <svg class="user-nav-item" width="32" height="32">
                                <use xlink:href="/dist/assets/sprites/sprite.svg#shopping-cart" ></use>
                            </svg>
                            <span class="header-cart-counter"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="main-nav">
            <ul class="main-nav_list">
                <li><a href="/dist/index.html" class="main-nav_item">Home</a></li>
                <li><a href="/dist/pages/catalog.html" class="main-nav_item main-nav_catalog-item">Catalog</a></li>
                <li><a href="#" class="main-nav_item">About Us</a></li>
                <li><a href="#" class="main-nav_item">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>